@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	scrollbar-width: thin;
}
.background-sidebar {
	background-image: url('./assets/svg//arrow-sidebar-logo.svg');
	background-attachment: fixed;
	background-repeat: no-repeat;
}

:root {
	--background: 0 0% 100%;
	--foreground: 0 0% 90%;
	--sidebar: 0, 0%, 25%;
	--card: 0 0% 100%;
	--card-foreground: 0 0% 10%;
	--popover: 0 0% 95%;
	--popover-foreground: 0 95% 7%;
	--primary: 0 73.7% 41.8%;
	--primary-foreground: 0 0% 100%;
	--secondary: 0 10% 70%;
	--secondary-foreground: 0 0% 0%;
	--muted: -38 10% 85%;
	--muted-foreground: 0 0% 35%;
	--accent: -38 10% 80%;
	--accent-foreground: 0 0% 10%;
	--destructive: 0 50% 30%;
	--destructive-foreground: 0 0% 90%;
	--border: 0 0% 90%;
	--input: 0 20% 18%;
	--ring: 0 73.7% 41.8%;
	--radius: 0.5rem;
}
.dark {
	--background: 0, 0%, 12%;
	--foreground: 0, 0%, 18%;
	--sidebar: 0, 0%, 25%;
	--card: 0, 0%, 18%;
	--card-foreground: 0 0% 90%;
	--popover: 0 10% 5%;
	--popover-foreground: 0 0% 90%;
	--primary: 0 73.7% 41.8%;
	--primary-foreground: 0 0% 100%;
	--secondary: 0 10% 10%;
	--secondary-foreground: 0 0% 100%;
	--muted: -38 10% 15%;
	--muted-foreground: 0 0% 60%;
	--accent: -38 10% 15%;
	--accent-foreground: 0 0% 90%;
	--destructive: 0 50% 30%;
	--destructive-foreground: 0 0% 90%;
	--border: 0 0% 24%;
	--input: 0 20% 18%;
	--ring: 0 73.7% 41.8%;
	--radius: 0.5rem;
}
